@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-success" })
</p>

@if (Model != null && Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mov in Model)
            {
                <tr>
                    <td>@mov.Id</td>
                    <td>@Html.ActionLink(@mov.Name, "Edit", new { id = mov.Id, Name = mov.Name }, null)</td>
                    @*<td>@Html.ActionLink(@mov.Name, "Details", new { id = @mov.Id }, null)</td>*@
                    <td>@mov.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no Movies yet!</p>
}